# Davin specific Files #
######################
_*
*.txt
q

# Davin exclude local db settings #
######################
app/settings.php


# Standard Files #
######################
.idea/
.DS_Store
/coverage/
/vendor/
/logs/*
!/logs/README.md