# Davin specific Files #
########################
_*
*.txt
q

# Exclude local DB connection details  #
########################################
app/settings.php


# Standard Files #
##################
.idea/
.DS_Store
/coverage/
/vendor/
/logs/*
!/logs/README.md