* {
  box-sizing: border-box;
}

body {
	margin: 10px;
	padding: 5px;
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
	font-size: 1.2rem; 
	background-color: #a5e0f7 ; /*#FCFFCD  */
} 

h1 {
	color: #4115c4;
	font-family: 'Lato', sans-serif;
}

h2 {
	color: #4115c4;
}

ul, ol {
	list-style-position:inside;
}

div {
	/*border: 1px solid green;*/
	padding: 5px;
	width: auto;
}

em {
	font-weight: bold;
	color: green;
}

#core_form {
	border: 3px solid #4115c4;
}

.flex-grid {
  display: flex; 
  /*border: 3px solid brown;*/
}

/* flex boxes to line up Questions & Answers on Form */
.flex-parent-qa {
  	display: flex; 
  	width: 100%;
  	/*border: 3px solid red;*/
  	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-around;
}


.flex-child-qa {
	width: 50%;
}

.flex-child-qa-questions {
	width: 40%;
	border: 2px solid gray;
}

.flex-child-qa-answers {
	width: 60%;
	border: 2px solid gray;
}

/* writing 500px makes this actually change/flex about 400px but why? */
@media only screen and (max-width: 500px) {
	.flex-child-qa {
		width: 100%;
		font-size: 0.9rem;
	}

	.flex-child-qa-questions {
		width: 100%;
		/*border: 1px solid white;*/
		font-size: 0.9rem;
	}

	.flex-child-qa-answers {
		width: 100%;
		/*border: 1px solid blue;*/
		font-size: 0.9rem;
	}
}

.submitButton {
	padding: 10px 20px;
	background-color: gray;
}


input[type="radio"] {
	display: inline-block; 
	/*width: auto;*/
	/*white-space: nowrap;*/
}

/* need to apply inline-block to BOTH label and radio button to keep them together on same line */
label {
	display: inline-block;
	/*width: auto;*/
}

/* 
COLORS
#a5e0f7 blue bkg
#4115c4    purple h1
#FF8F35 orange h1
#FCFFCD  yellow bkg
*/